<section class="demo-main">
  <div class="demo-inventory">

    <h1>Your Inventory</h1>

    <div class="slider">
      <slider-directive></slider-directive>
      <!-- <div class="slider-shirts" ng-repeat="shirt in shirts" ng-show="shirt.visible">
        <img src="{{shirt.source}}" />
      </div> -->

      <!-- <div class="arrows">
        <a href="#" ng-click="goToPrevious()">
          <img src="../../view/img/Arrowprev.png" />
        </a>

        <a href="#" ng-click="goToNext()">
          <img src="../../view/img/Arrownext.png" />
      </div> -->


  </div>
</section>
