<section class="about-page">

  <div class="side-bar"></div>

  <section class="about-text">

    <div class="about-topline">
      <h1>Loot. Equip. Save. Buy.</h1><hr width="50%">
    </div>

    <div class="about-description">
      <p>MyOufit Inventory completely changes the way you shop online for clothing. Find items you like, add them to your inventory and save them to your wishlist. Scroll through your clothing loot and equip them to see how they look together. When you're ready to buy your new outfit, click the individual items to be taken to their product pages. MyOutfit Inventory is currently an MVP.</p>
    </div>

    <div class="about-get-started-button">
      <hr width="50%"><a ui-sref="getstarted"><h3>Get Started Now</h3></a>
    </div>

  </section>

  <div class="side-bar"></div>

</section>
