<section class="about-page">

  <div class="side-bar"></div>

  <section class="about-text">

    <div class="about-topline">
      <h1>Loot. Equip. Save. Buy.</h1><hr width="50%">
    </div>

    <div class="about-description">
      <p>MyOufit Inventory will bring a new and fun way to shop for clothing online. Create your own toon to dress up - maybe of your favorite TV show or video game character or yourself! - and have them try on featured clothing products online (such as Amazon.com or Overstock.com). Add them to your inventory, and they'll be available for you to mix and match. Equip them to your toon, and you'll be able to see how different items look together. MyOutfit Inventory is currently an MVP.</p>
    </div>

    <div class="about-get-started-button">
      <hr width="50%"><a ui-sref="getstarted"><h3>Get Started Now</h3></a>
    </div>

  </section>

  <div class="side-bar"></div>

</section>
